<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>金色老年网·孝敬网</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏允许全屏模式浏览-->
    <meta name="apple-touch-fullscreen" content="yes"><!-- 开启对web app程序的支持  -->
    <meta content="telephone=no,email=no" name="format-detection"><!-- iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！telephone=no就忽略页面中的数字识别为电话号码 ,email=no 忽略识别邮箱 -->
    <!--base css-->
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--base css end-->
    <!--base js-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <script>
        window.scrollTo(0, 0);
    </script>
    <!--<meta content="yes" name="apple-mobile-web-app-capable"> end-->
    <script src="js/reset.js"></script>
    <script src="js/TouchSlide.js"></script>
    
</head>

<body>
<!--wapper-->
<div class="wapper">
    <!--page-->
    <div id="page">
        <!--头部-->
        <div class="header">
            <a href="index.html"><img src="images/logo1.jpg" alt="" class="loimg"/></a>
        </div>
        
        <div class="nav overflow clearfix">
 <ul>
  				<li><a href="#">总会简介</a></li>
            	<li><a href="#">工作动态</a></li>
            	<li><a href="#">金色品牌</a></li>
            	<li><a href="#">领导关怀</a></li>
            	<li><a href="#">国情宣传</a></li>
            	
            	<li><a href="#">涉老政策</a></li>
            	<li><a href="#">助老活动</a></li>
            	<li><a href="#">老年大学</a></li>
            	<li><a href="#">老年商廊</a></li>
            	<li><a href="#">爱心捐赠</a></li>
 </ul>
</div>
        
        
        
        <!--头部 end-->
        <!--content-->
        <div class="content">
            <!--slide-->
            <div id="focus" class="focus">
                <div class="bd">
                    <ul id="Gallery" class="gallery">
                        <li>
                            <a href=""><img src="images/img13.jpg" alt="1">
                            </a>
                        </li>
                        <li>
                            <a href=""><img src="images/img13.jpg" alt="2">
                            </a>
                        </li>
                        <li>
                            <a href=""><img src="images/img13.jpg" alt="3">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hd">
                    <ul>
                    </ul>
                </div>
            </div>
            <script>
                /*banner滚动图片*/
                TouchSlide({
                    slideCell : "#focus",
                    titCell : ".hd ul", // 开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                    mainCell : ".bd ul",
                    effect : "leftLoop",
                    autoPlay : true, // 自动播放
                    autoPage : true, // 自动分页
                    delayTime: 200, // 毫秒；切换效果持续时间（执行一次效果用多少毫秒）
                    interTime: 2500, // 毫秒；自动运行间隔（隔多少毫秒后执行下一个效果）
                    switchLoad : "_src" // 切换加载，真实图片路径为"_src"
                });
            </script>
            <!--slide end-->

    <diV class="zh_jie">
 <h3><span>金色大讲堂介绍</span>why do you choose us?</h3>
	</diV>        
     <div class="dt-nyp p-l-20 p-r-20 p-t-35 p-b-30">
     					<p>
                            <img src="images/img14.jpg" alt=""/>
                        </p>
                        <p>　　为进一步传承中华民族尊老敬老传统美德，弘扬中华优秀传统文化，倡导孝亲敬老理念，2013年5月，总会创办了《金色大讲堂》高端讲坛栏目，与河南民生频道联合录制播出，共录制播出135期。每月举办现场报告会，先后邀请国家司法部原部长高昌礼，国家民政部原副部长李宝库，中央党校教授、博士生导师刘余莉，山东孔子礼仪文化学校校长金辉，著名传统文化导师、心理学家智然，中国老龄事业发展基金会孝文化传播委员会副主任吕明晰，传统文化名家马仙蕊、王弘錡、靳雅佳、聂振弢、颜景松、闫合作，中医科学院博士彭鑫、董峰......
                        </p>
                       
                    </div> 
            <div class="zh_bot m-t-20 m-b-20"><a href="#">了解详情 ></a></div>
           
<div class="clear"></div>           
<diV class="tese_01">
 <ul>
   <li class="tese_03">传统文化</li>
     <a href="#"><li class="tese_04">更多</li></a>
 </ul>
</diV>

 <div class="prolist main03">
                        <ul class="clearFloat">
                            <a href="#">
                                <li>
                                    <img src="images/img15.jpg" alt=""/>
                                    <span class="prspan">传统文化--何宝林--《幸福的真谛》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img16.jpg" alt=""/>
                                    <span class="prspan">传统文化--金辉--《传统文化与幸福人生》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img17.jpg" alt=""/>
                                    <span class="prspan">传统文化--靳雅佳--《移风易俗 莫善于乐》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img18.jpg" alt=""/>
                                    <span class="prspan">传统文化--刘余莉--《和谐社会 从心开始》</span>
                                </li>
                            </a>
                        </ul>
                        <a href="#"><p class="prot2">换一换</p></a>
                    </div>


<div class="clear"></div>

<diV class="tese_01">
 <ul>
   <li class="tese_03">健康养生</li>
     <a href="#"><li class="tese_04">更多</li></a>
 </ul>
</diV>
<div class="prolist main03">
                        <ul class="clearFloat">
                            <a href="#">
                                <li>
                                    <img src="images/img15.jpg" alt=""/>
                                    <span class="prspan">传统文化--何宝林--《幸福的真谛》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img16.jpg" alt=""/>
                                    <span class="prspan">传统文化--金辉--《传统文化与幸福人生》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img17.jpg" alt=""/>
                                    <span class="prspan">传统文化--靳雅佳--《移风易俗 莫善于乐》</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img18.jpg" alt=""/>
                                    <span class="prspan">传统文化--刘余莉--《和谐社会 从心开始》</span>
                                </li>
                            </a>
                        </ul>
                        <a href="#"><p class="prot2">换一换</p></a>
                    </div>
<div class="clear"></div>

<diV class="tese_01">
 <ul>
   <li class="tese_03">主讲教师</li>
     <a href="#"><li class="tese_04">更多</li></a>
 </ul>
</diV>
<div class="zjia main03">
                        <ul class="clearFloat">
                            <a href="#">
                                <li>
                                    <img src="images/img19.jpg" alt=""/>
                                    <span class="prot">传统文化--刘余莉</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img20.jpg" alt=""/>
                                    <span class="prot">传统文化--智然</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img21.jpg" alt=""/>
                                    <span class="prot">传统文化--金辉</span>
                                </li>
                            </a>                            
                        </ul>
                        
                    </div>
<div class="clear"></div>
        
        </div>
        <!--content end-->
        <!--footer-->
       <div class="foot_menu">
	<ul>
		<li class="no">
			<a href="index.html">
				<i><img src="images/f_1a.png"></i>
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="mall_class.html">
				<i><img src="images/f_2.png"></i>
				<span>品牌</span>
			</a>
		</li> 		
		<li>
			<a href="live_tv.html">
				<i><img src="images/f_3.png"></i>
				<span>视频</span>
			</a> 
		</li>
		<li>
			<a href="my.html">
				<i><img src="images/f_4.png"></i>
				<span>我的</span>
			</a> 
		</li>
	</ul> 
</div> 

        <!--footer end-->


    </div>
    <!--page end-->
</div>
<!--wapper end-->

</body>
</html>
