<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>金色老年网·孝敬网</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏允许全屏模式浏览-->
    <meta name="apple-touch-fullscreen" content="yes"><!-- 开启对web app程序的支持  -->
    <meta content="telephone=no,email=no" name="format-detection"><!-- iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！telephone=no就忽略页面中的数字识别为电话号码 ,email=no 忽略识别邮箱 -->
    <!--base css-->
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--base css end-->
    <!--base js-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <script>
        window.scrollTo(0, 0);
    </script>
    <!--<meta content="yes" name="apple-mobile-web-app-capable"> end-->
    <script src="js/reset.js"></script>
    <script src="js/TouchSlide.js"></script>
    
</head>

<body>
<!--wapper-->
<div class="wapper">
    <!--page-->
    <div id="page">
        <!--头部-->
        <div class="header">
            <a href="index.html"><img src="images/logo1.jpg" alt="" class="loimg"/></a>
        </div>
        
        <div class="nav overflow clearfix">
 <ul>
  				<li><a href="jianjie.html">总会简介</a></li>
            	<li><a href="news.html">工作动态</a></li>
            	<li><a href="#">金色品牌</a></li>
            	<li><a href="#">领导关怀</a></li>
            	<li><a href="#">国情宣传</a></li>
            	
            	<li><a href="#">涉老政策</a></li>
            	<li><a href="#">助老活动</a></li>
            	<li><a href="#">老年大学</a></li>
            	<li><a href="#">老年商廊</a></li>
            	<li><a href="#">爱心捐赠</a></li>
 </ul>
</div>
        
        
        
        <!--头部 end-->
        <!--content-->
        <div class="content">
            <!--slide-->
            <div id="focus" class="focus">
                <div class="bd">
                    <ul id="Gallery" class="gallery">
                        <li>
                            <a href=""><img src="images/ind5.jpg" alt="1">
                            </a>
                        </li>
                        <li>
                            <a href=""><img src="images/ind5.jpg" alt="2">
                            </a>
                        </li>
                        <li>
                            <a href=""><img src="images/ind5.jpg" alt="3">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hd">
                    <ul>
                    </ul>
                </div>
            </div>
            <script>
                /*banner滚动图片*/
                TouchSlide({
                    slideCell : "#focus",
                    titCell : ".hd ul", // 开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                    mainCell : ".bd ul",
                    effect : "leftLoop",
                    autoPlay : true, // 自动播放
                    autoPage : true, // 自动分页
                    delayTime: 200, // 毫秒；切换效果持续时间（执行一次效果用多少毫秒）
                    interTime: 2500, // 毫秒；自动运行间隔（隔多少毫秒后执行下一个效果）
                    switchLoad : "_src" // 切换加载，真实图片路径为"_src"
                });
            </script>
            <!--slide end-->
            <!--list-img-->
            <div class="list-img p-t-35 p-b-35 bag-fff">
                <div class="list-imgone">
                    <a href="jinsejiayuan.html"><img src="images/lisimg1.png" alt=""/><span>金色家园</span></a>
                    <a href="jinsemeng.html"><img src="images/lisimg2.png" alt=""/><span>金色梦舞台</span></a>
                    <a href="dajiangtang.html"><img src="images/lisimg3.png" alt=""/><span>金色大讲堂</span></a>
                    <a href="jinseguanjia.html"><img src="images/lisimg4.png" alt=""/><span>金色管家</span></a>
                    <a href="jingdiangehui.html"><img src="images/lisimg5.png" alt=""/><span>经典歌会</span></a>

                </div>
                <div class="list-imgone">
                    <a href="zhiyuanfuwu.html"><img src="images/lisimg6.png" alt=""/><span>志愿服务</span></a>
                    <a href="jiankangzixun.html"><img src="images/lisimg7.png" alt=""/><span>健康咨询</span></a>
                    <a href="jinseshequ.html"><img src="images/lisimg8.png" alt=""/><span>金色社区</span></a>
                    <a href="jinsegangwan.html"><img src="images/lisimg9.png" alt=""/><span>金色港湾</span></a>
                    <a href="laonianlxs.html"><img src="images/lisimg10.png" alt=""/><span>旅行社</span></a>
                </div>
            </div>
       

<div class="clear"></div>
<p style="height: 20px;"></p>
    <diV class="zh_jie">
 <h3><span>总会简介</span>why do you choose us?</h3>
	</diV>        
     <div class="dt-nyp p-l-20 p-r-20 p-t-35 p-b-30">
     					<p>
                            <img src="images/img1.jpg" alt=""/>
                        </p>
                        <p>　　河南省敬老助老总会是经省民政厅批准的公益性社团组织（具有捐赠税前扣除资格）。省九届人大常委会主任任克礼任会长省八届至十届人大常委会副主任张德广、马宪章、李志斌、张以祥、吴全智、贾连朝、李中央任常务副会长，省十一届政协常委省委老干部局原局长汪晓微任执行会长。自2012年成立以来，总会认真按照习近平总书记关于“积极应对人口老龄化，大力发展老龄服务事业和产业”重要指示精神，秉承“尊老、敬老、爱老、助老”宗旨，着力替党委政府分忧，为老同志解难,扎实推进“金色助老工程”十大金色品牌项目，在弘扬传统美德、发展老年事业、培育养老产业等方面进行了有益探索和实践，为服务全省工作大局促进社会和谐稳定作出了积极贡献。
                        </p>
                       
                    </div> 
            <div class="zh_bot m-t-20 m-b-20"><a href="jianjie.html">了解详情 ></a></div>
           
<div class="clear"></div>           
<diV class="tese_01">
 <ul>
   <li class="tese_03">最新动态</li>
     <a href="news.html"><li class="tese_04">更多</li></a>
 </ul>
</diV>
<div class="prolist main03">
                        <ul class="clearFloat">
                            <a href="#">
                                <li>
                                    <img src="images/img2.jpg" alt=""/>
                                    <span class="prspan">河南金色管家职业培训学校成功举办第九期培训班</span>
                                    <p>2018-10-09</p>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img2.jpg" alt=""/>
                                    <span class="prspan">河南金色培训班</span>
                                    <p>2018-10-09</p>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img2.jpg" alt=""/>
                                    <span class="prspan">河南金色管家职业培训学校成功举办第九期培训班</span>
                                    <p>2018-10-09</p>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <img src="images/img2.jpg" alt=""/>
                                    <span class="prspan">河南金色管家职业培训学校成功举办第九期培训班</span>
                                    <p>2018-10-09</p>
                                </li>
                            </a>
                        </ul>
                        
                    </div>

<div class="clear"></div>
        
        </div>
        <!--content end-->
        <!--footer-->
       <div class="foot_menu">
	<ul>
		<li class="no">
			<a href="index.html">
				<i><img src="images/f_1a.png"></i>
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="pinpai.html">
				<i><img src="images/f_2.png"></i>
				<span>品牌</span>
			</a>
		</li> 		
		<li>
			<a href="#">
				<i><img src="images/f_3.png"></i>
				<span>视频</span>
			</a> 
		</li>
		<li>
			<a href="#">
				<i><img src="images/f_4.png"></i>
				<span>我的</span>
			</a> 
		</li>
	</ul> 
</div> 

        <!--footer end-->


    </div>
    <!--page end-->
</div>
<!--wapper end-->

</body>
</html>
