<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>金色老年网·孝敬网</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏允许全屏模式浏览-->
    <meta name="apple-touch-fullscreen" content="yes"><!-- 开启对web app程序的支持  -->
    <meta content="telephone=no,email=no" name="format-detection"><!-- iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！telephone=no就忽略页面中的数字识别为电话号码 ,email=no 忽略识别邮箱 -->
    <!--base css-->
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--base css end-->
    <!--base js-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <script>
        window.scrollTo(0, 0);
    </script>
    <!--<meta content="yes" name="apple-mobile-web-app-capable"> end-->
    <script src="js/reset.js"></script>
    <script src="js/TouchSlide.js"></script>

</head>

<body>
<!--wapper-->
<div class="wapper">
    <!--page-->
    <div id="page">
        <!--头部-->
        <div class="header">
            <a href="index.html"><img src="images/logo1.jpg" alt="" class="loimg"/></a>
        </div>
        
        <div class="nav overflow clearfix">
 <ul>
  				<li><a href="#">总会简介</a></li>
            	<li><a href="#">工作动态</a></li>
            	<li><a href="#">金色品牌</a></li>
            	<li><a href="#">领导关怀</a></li>
            	<li><a href="#">国情宣传</a></li>
            	
            	<li><a href="#">涉老政策</a></li>
            	<li><a href="#">助老活动</a></li>
            	<li><a href="#">老年大学</a></li>
            	<li><a href="#">老年商廊</a></li>
            	<li><a href="#">爱心捐赠</a></li>
 </ul>
</div>
        
        
        
        <!--头部 end-->
        <!--content-->
        <div class="content">
            
<diV class="tese_01">
 <ul>
   <li class="tese_03">最新动态</li>
     <a href="#"><li class="tese_04">更多</li></a>
 </ul>
</diV> 

<div class="news main03">
 		<ul>
 						<a href="newsmore.html"><li>
 							<div class="imtu"><img src="images/img65.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社——3月16日南方幸福号夕阳红专列盛大开行！</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="newsmore.html"><li>
 							<div class="imtu"><img src="images/img66.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社组织金色经典歌会学员 “钧瓷之都”暖冬游</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="newsmore.html"><li>
 							<div class="imtu"><img src="images/img65.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社——3月16日南方幸福号夕阳红专列盛大开行！</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="newsmore.html"><li>
 							<div class="imtu"><img src="images/img66.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社组织金色经典歌会学员 “钧瓷之都”暖冬游</p>
 							2019-08-27 18:25
 							</div>
 						</li></a> 	
 						<a href="#"><li>
 							<div class="imtu"><img src="images/img65.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社——3月16日南方幸福号夕阳红专列盛大开行！</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="#"><li>
 							<div class="imtu"><img src="images/img66.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社组织金色经典歌会学员 “钧瓷之都”暖冬游</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="#"><li>
 							<div class="imtu"><img src="images/img65.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社——3月16日南方幸福号夕阳红专列盛大开行！</p>
 							2019-08-27 18:25
 							</div>
 						</li></a>
 						<a href="#"><li>
 							<div class="imtu"><img src="images/img66.jpg"></div>
 							<div class="riwen"><p>金色老年旅行社组织金色经典歌会学员 “钧瓷之都”暖冬游</p>
 							2019-08-27 18:25
 							</div>
 						</li></a> 	
                   </ul>     
                    </div>
<p style="clear:both;"></p>
<div class="page m-t-20 m-b-40">
                            <a href="">上一页</a>
                            <a href="" class="paactive">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                            <a href="">下一页</a>
                        </div>

<div class="clear"></div>


        </div>
        <!--content end-->
        <!--footer-->
       <div class="foot_menu">
	<ul>
		<li class="no">
			<a href="index.html">
				<i><img src="images/f_1a.png"></i>
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="mall_class.html">
				<i><img src="images/f_2.png"></i>
				<span>品牌</span>
			</a>
		</li> 		
		<li>
			<a href="live_tv.html">
				<i><img src="images/f_3.png"></i>
				<span>视频</span>
			</a> 
		</li>
		<li>
			<a href="my.html">
				<i><img src="images/f_4.png"></i>
				<span>我的</span>
			</a> 
		</li>
	</ul> 
</div> 

        <!--footer end-->


    </div>
    <!--page end-->
</div>
<!--wapper end-->

</body>
</html>
