<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>金色老年网·孝敬网</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏允许全屏模式浏览-->
    <meta name="apple-touch-fullscreen" content="yes"><!-- 开启对web app程序的支持  -->
    <meta content="telephone=no,email=no" name="format-detection"><!-- iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！telephone=no就忽略页面中的数字识别为电话号码 ,email=no 忽略识别邮箱 -->
    <!--base css-->
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--base css end-->
    <!--base js-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <script>
        window.scrollTo(0, 0);
    </script>
    <!--<meta content="yes" name="apple-mobile-web-app-capable"> end-->
    <script src="js/reset.js"></script>
    <script src="js/TouchSlide.js"></script>
    
</head>

<body>
<!--wapper-->
<div class="wapper">
    <!--page-->
    <div id="page">
        <!--头部-->
        <div class="header">
            <a href="index.html"><img src="images/logo1.jpg" alt="" class="loimg"/></a>
        </div>
        
        <div class="nav overflow clearfix">
 <ul>
  				<li><a href="#">总会简介</a></li>
            	<li><a href="#">工作动态</a></li>
            	<li><a href="#">金色品牌</a></li>
            	<li><a href="#">领导关怀</a></li>
            	<li><a href="#">国情宣传</a></li>
            	
            	<li><a href="#">涉老政策</a></li>
            	<li><a href="#">助老活动</a></li>
            	<li><a href="#">老年大学</a></li>
            	<li><a href="#">老年商廊</a></li>
            	<li><a href="#">爱心捐赠</a></li>
 </ul>
</div>
        
        
        
        <!--头部 end-->
        <!--content-->
        <div class="content">
         
<diV class="tese_01">
 <ul>
   <li class="tese_03">品牌</li>
 </ul>
</diV>

<div class="prolist main03">
                        <ul class="clearFloat">

                            <a href="jinsejiayuan.html">
                                <li>
                                    <img src="images/img45.jpg" alt=""/>
                                    <span class="prot">金色家园</span>
                                </li>
                            </a>
                            <a href="jinsemeng.html">
                                <li>
                                    <img src="images/img46.jpg" alt=""/>
                                    <span class="prot">金色梦舞台</span>
                                </li>
                            </a>
                            <a href="dajiangtang.html">
                                <li>
                                    <img src="images/img47.jpg" alt=""/>
                                    <span class="prot">金色大讲堂</span>
                                </li>
                            </a>
                            <a href="jinseguanjia.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色管家培训</span>
                                </li>
                            </a>
                            
                            <a href="jingdiangehui.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色经典歌会</span>
                                </li>
                            </a>
                            <a href="zhiyuanfuwu.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色助老志愿服务</span>
                                </li>
                            </a>
                            <a href="jiankangzixun.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色健康信息咨询服务</span>
                                </li>
                            </a>
                            <a href="jinseshequ.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色社区服务</span>
                                </li>
                            </a>
                            <a href="jinsegangwan.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色港湾</span>
                                </li>
                            </a>
                            <a href="laonianlxs.html">
                                <li>
                                    <img src="images/img48.jpg" alt=""/>
                                    <span class="prot">金色老年旅行社</span>
                                </li>
                            </a>
                        </ul>
                    </div>
<div class="clear"></div>

        </div>
        <!--content end-->
        <!--footer-->
       <div class="foot_menu">
	<ul>
		<li>
			<a href="index.html">
				<i><img src="images/f_1.png"></i>
				<span>首页</span>
			</a>
		</li>
		<li class="no">
			<a href="mall_class.html">
				<i><img src="images/f_2a.png"></i>
				<span>品牌</span>
			</a>
		</li> 		
		<li>
			<a href="live_tv.html">
				<i><img src="images/f_3.png"></i>
				<span>视频</span>
			</a> 
		</li>
		<li>
			<a href="my.html">
				<i><img src="images/f_4.png"></i>
				<span>我的</span>
			</a> 
		</li>
	</ul> 
</div> 

        <!--footer end-->


    </div>
    <!--page end-->
</div>
<!--wapper end-->

</body>
</html>
