<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>
<div class="bannernr" style="background: url(images/aboutbanner.jpg) no-repeat center top;"></div>
<div class="clear"></div>
<!-- 主体部分 -->

<div class="xypg-wrap">
    <div class="container">

             
       

                <div class="xypg-right">
                	<div class="titleming">
                		总会简介
                		<span>GENERAL INTRODUCTION</span>
                	</div>
                    <div class="xypg-right-mbx">
                      
                        <a href="#" class="active">总会简介</a> / <a href="#">十大项目介绍</a> /  <a href="#">活动介绍</a>/  <a href="#">组织架构</a>
                        
                    </div>
 </div>
                    <div class="xypg-right-content">
                    	<h2 style="text-align: center;">河南省敬老助老总会简介</h2>
                        
                    <p>河南省敬老助老总会是经省民政厅批准的公益性社团组织（具有捐赠税前扣除资格）。省九届人大常委会主任任克礼任会长，省八届至十届人大常委会副主任张德广、马宪章、李志斌、张以祥、吴全智、贾连朝、李中央任常务副会长，省十一届政协常委、省委老干部局原局长汪晓微任执行会长。自2012年成立以来，总会认真按照习近平总书记关于“积极应对人口老龄化，大力发展老龄服务事业和产业”重要指示精神，秉承“尊老、敬老、爱老、助老”宗旨，着力替党委政府分忧，为老同志解难,扎实推进“金色助老工程”十大金色品牌项目，在弘扬传统美德、发展老年事业、培育养老产业等方面进行了有益探索和实践，为服务全省工作大局、促进社会和谐稳定作出了积极贡献。</p>

      <p>总会以“金色助老工程”为载体，以金色家园、金色梦舞台、金色大讲堂、金色管家、金色经典歌会、金色助老志愿服务、金色健康信息咨询服务、金色社区服务、金色港湾、金色老年旅行社等十大金色品牌为抓手，项目化运作、社会化参与、制度化管理，精心规划建设，持续协调推进。</p>


<p>金色助老工程项目 十大金色品牌</p>
<p>
一、金色家园<br/>
二、金色梦舞台<br/>
三、金色大讲堂<br/>
四、金色管家培训<br/>
五、金色经典歌会<br/>
六、金色助老志愿服务<br/>
七、金色健康信息咨询服务<br/>
八、金色社区服务<br/>
九、金色港湾<br/>
十、金色老年旅行社<br/>
</p>
                        
                    </div>
                                   

            

            
            <div class="clear"></div>
                
            
       
    </div>
</div>


<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	
	/* 图片滚动效果 */
	$(".mr_frbox").slide({
		titCell: "",
		mainCell: ".mr_frUl ul",
		autoPage: true,
		effect: "leftLoop",
		autoPlay: true,
		vis: 4
	});
	
	/* 鼠标悬停图片效果 */
	$(".mr_zhe_hover").css("top", $('.mr_zhe').eq(0).height());
	$("li").mouseout(function (e) {
		if ((e.pageX < $(this).offset().left || e.pageX > ($(this).offset().left + $(this).width())) || (e.pageY < $(this).offset().top || e.pageY > ($(this).offset().top + $(this).height()))) {
			$(this).find('.mr_zhe_i').show();
			$(this).find('.mr_zhe_hover').hide().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
			return false;
		}

	});
	$('.mr_zhe').mouseover(function (event) {
		$(this).find('.mr_zhe_i').hide();
		$(this).find('.mr_zhe_hover').show().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
		return false;
	});
	
});
</script>

	</body>
</html>
