<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>
<script type="text/javascript" src="js/koala.min.1.5.js"></script>


	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>
	<div class="banner">
  <div class="b-img"><a href="#" style="background:url(images/jkbanner.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/jkbanner.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/jkbanner.jpg) center no-repeat;"></a></div>
  <div class="b-list"></div>
  <a class="bar-left" href="#"><em></em></a><a class="bar-right" href="#"><em></em></a> </div>
<div class="keshidh">
	<div class="w12">
		<ul>
			<li>
				<a href="#">
				<span><img src="images/dhicon.png"/></span>
				风湿免疫科
			</a>
			</li>
			<li>
				<a href="#">
				<span><img src="images/dhicon2.png"/></span>
				神经科
			</a>
			</li>
			<li>
				<a href="#">
				<span><img src="images/dhicon3.png"/></span>
				消化内科
			</a>
			</li>
			<li>
				<a href="#">
				<span><img src="images/dhicon4.png"/></span>
				心内科
			</a>
			</li>
			<li>
				<a href="#">
				<span><img src="images/dhicon5.png"/></span>
				中医科
			</a>
			</li>
		</ul>
	</div>
</div>

<div class="jieshao jiankang" >
	<div class="w12">
		
		<div class="js_left">
			<img src="images/jktup.jpg"/>
		</div>
		<div class="js_right">
			<div class="title">
			<h3><em>金色大讲堂介绍</em></h3>
			
		</div>
			金色大健康是为了应对老龄化严峻形势带来的诸多健康、无人照料等老年问题，关注各类影响健康的危险因素和误区，对老同志全面呵护搭建的服务平台。金色大健康有助于提高老同志健康素养，接受科学的健康指导和理性的健康消费，倡导一种健康的生活方式。让老同志不仅是‘治病’，更是‘治未病’，消除亚健康、提高身体素质。其中包含金色健康信息咨询服务，组织建立专家信息和老年健康信息库，利用网络信息技术，建设河南金色健康信息咨询服务平台，努力为老同志看病就医、健康管理等提供智能化服务。
<a href="#">了解详情></a>
		</div>
	</div>
</div>

<div class="clear"></div>

<div class="w12 jigou">
	<div class="title">
			<h3><em>合作机构</em><a href="#">更多>></a></h3>
			
	</div>
	<ul>
		<li>
			<a href="#">
			<div><img src="images/yiyuan.jpg"></div>
			<p><em>北京协和医院</em></p>
			<span>北京协和医院是中国协和医科大学的临床医学院，中国医学科学院的临床医学研究所，现任院长是赵玉沛，于2007年12月就任；   <b>【详情】</b>   </span>
			
			</a>
		</li>
		<li>
			<a href="#">
			<div><img src="images/yiyuan.jpg"></div>
			<p><em>北京协和医院</em></p>
			<span>北京协和医院是中国协和医科大学的临床医学院，中国医学科学院的临床医学研究所，现任院长是赵玉沛，于2007年12月就任；   <b>【详情】</b>   </span>
			
			</a>
		</li>
		<li>
			<a href="#">
			<div><img src="images/yiyuan.jpg"></div>
			<p><em>北京协和医院</em></p>
			<span>北京协和医院是中国协和医科大学的临床医学院，中国医学科学院的临床医学研究所，现任院长是赵玉沛，于2007年12月就任；   <b>【详情】</b>   </span>
			
			</a>
		</li>
	</ul>
	
</div>

<div class="clear"></div>
<div class="jiangshi zhuanjia">
	
	<div class="w12">
		<h3><span>专家介绍</span></h3>
		<div class="yScrollList">
	
	<div class="yScrollListIn">
		<div class="yScrollListInList yScrollListInList1" style="display:block;">
			<ul>
				<li>
					<a href="">
						<div><img src="images/zj.jpg"></div>
						<p>杨爱明</p>
						<span>擅长：食管胃底静脉曲张，胃早期癌，胆石症，胰腺癌，慢性胰腺炎，胆管癌，ERCP，超声内镜，内镜下微创治疗</span>
					</a>
				</li>
				<li>
					<a href="">
						<div><img src="images/zj.jpg"></div>
						<p>杨爱明</p>
						<span>擅长：食管胃底静脉曲张，胃早期癌，胆石症，胰腺癌，慢性胰腺炎，胆管癌，ERCP，超声内镜，内镜下微创治疗</span>
					</a>
				</li>
				<li>
					<a href="">
						<div><img src="images/zj.jpg"></div>
						<p>杨爱明</p>
						<span>擅长：食管胃底静脉曲张，胃早期癌，胆石症，胰腺癌，慢性胰腺炎，胆管癌，ERCP，超声内镜，内镜下微创治疗</span>
					</a>
				</li>
				<li>
					<a href="">
						<div><img src="images/zj.jpg"></div>
						<p>杨爱明</p>
						<span>擅长：食管胃底静脉曲张，胃早期癌，胆石症，胰腺癌，慢性胰腺炎，胆管癌，ERCP，超声内镜，内镜下微创治疗</span>
					</a>
				</li>
				<li>
					<a href="">
						<div><img src="images/zj.jpg"></div>
						<p>杨爱明</p>
						<span>擅长：食管胃底静脉曲张，胃早期癌，胆石症，胰腺癌，慢性胰腺炎，胆管癌，ERCP，超声内镜，内镜下微创治疗</span>
					</a>
				</li>
				
				
				

			</ul>
			
		</div>
		
	</div>
	<a href="#" class="ck">查看更多</a>
</div>


		

     
	</div>
	
</div>





<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>


	</body>
</html>
