<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>
	<div class="banner">
  <div class="b-img"><a href="#" style="background:url(images/banner1.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/banner1.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/banner1.jpg) center no-repeat;"></a></div>
  <div class="b-list"></div>
  <a class="bar-left" href="#"><em></em></a><a class="bar-right" href="#"><em></em></a> </div>
<div class="jieshao">
	<div class="w12">
		<div class="title">
			<h3>金色家园介绍</h3>
			
		</div>
		<div class="js_left">
			<img src="images/abouttup1.jpg"/>
		</div>
		<div class="js_right">
			“金色家园”倡导利用公共和社会资源，建设集居住生活、学习娱乐、活动健身、康复医疗为一体的乐养、学养、动养、医养相结合的综合性养老场所。其有改建和新建两种形式。
改建的“金色家园”，是对社会已有的养老场所进行规范，或对以服务老同志为主的医院、疗养院、闲置场所等进行改造和完善，使其达到金色家园标准。
新建的“金色家园”，设置有健康生活、康复照料和特殊关爱等多项功能，也可根据实际条件酌情设置，但至少要具备其中一项功能，并有与之相配套的综合服务功能，使其达到金色家园标准。
目前全省已设立“金色家园”养老试点单位69家。2018年底，制定了《河南省“金色家园”养老示范单位标准（试行）》，下一步将从“金色家园”试点单位中评选出示范单位为老同志提供全方位、高质量服务。通过创建达标活动，进一步提升“金色家园”的品牌影响力和示范引领作用。
<a href="#">了解详情></a>
		</div>
	</div>
</div>
<div class="fanwei shidian">
	<div class="friend">
		<div class="title">
			<h3>家园试点</h3>
			<span>金色家园是养老的好去处</span>
			<i></i>
		</div>
    <div class="mr_frbox">
        <img class="mr_frBtnL prev" src="images/jt1.jpg" />
        <div class="mr_frUl">
            <ul id="mr_fu">
                <li><a href="sd_xq.html" class="servertup">
                    <img src="images/tup11.jpg" />
                      </a>
                    <h3>郑州市老年公寓</h3>
                    <span>郑州市老年公寓是郑州市民政局投资兴办的一所社会养老机构，属公办公营养老院，位于郑州市航海西路7号......</span>
                    <a href="sd_xq.html" class="xq2">了解详情 ></a>
              
                    
                </li>
                <li><a href="sd_xq.html" class="servertup">
                    <img src="images/tup22.jpg" />
                      </a>
                    <h3>郑州市二七区福星老年公寓</h3>
                    <span>福星老年公寓位于二七区京广路与赣江路交叉口向西200米路南，是在原王胡砦老年公寓基础上进行升级改造......</span>
                    <a href="sd_xq.html" class="xq2">了解详情 ></a>
                   
                </li>
                <li>
                	<a href="sd_xq.html" class="servertup">
                    <img src="images/tup33.jpg" />
                      </a>
                    <h3>获嘉县同盟老年公寓</h3>
                    <span>获嘉县同盟老年公寓是新乡市获嘉县民政局所属的社会福利民办养老机构，隶属于河南会盟养老发展有限公司。......</span>
                    <a href="sd_xq.html" class="xq2">了解详情 ></a>
                  
                </li>
                <li>
                	<a href="sd_xq.html" class="servertup">
                    <img src="images/tup44.jpg" />
                      </a>
                    <h3>济源市康乐老年公寓</h3>
                    <span>济源市康乐老年公寓是一所集养老、休闲、健身、娱乐于一体的综合性养老机构。......</span>
                    <a href="sd_xq.html" class="xq2">了解详情 ></a>
                    
                </li>
                <li>
                	<a href="sd_xq.html" class="servertup">
                    <img src="images/tup5.jpg" />
                      </a>
                    <h3>金色家园</h3>
                    <span>金色家园是总会培育的新型养老品牌，倡导利用社会公共资源，建设集居住生活、学习娱乐、活动健身......</span>
                    <a href="sd_xq.html" class="xq2">了解详情 ></a>
                    
                </li>
            </ul>
        </div>
        <img class="mr_frBtnR next" src="images/jt.jpg" />
    </div>
</div>


</div>


<div class="clear"></div>

<div class="jiaru">
	
	<div class="biaoge">
		<p><label>姓名：</label><input type="text" value="" /></p>
		<p><label>年龄：</label><input type="text" value="" /></p>
		<p><label>电话：</label><input type="text" value="" /></p>
		<p><label>内容：</label><textarea></textarea></p>
		<p><input type="submit" value="加入金色家园" class="sub"/></p>
	</div>
	
</div>

<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	
	/* 图片滚动效果 */
	$(".mr_frbox").slide({
		titCell: "",
		mainCell: ".mr_frUl ul",
		autoPage: true,
		effect: "leftLoop",
		autoPlay: true,
		vis: 4
	});
	
	/* 鼠标悬停图片效果 */
	$(".mr_zhe_hover").css("top", $('.mr_zhe').eq(0).height());
	$("li").mouseout(function (e) {
		if ((e.pageX < $(this).offset().left || e.pageX > ($(this).offset().left + $(this).width())) || (e.pageY < $(this).offset().top || e.pageY > ($(this).offset().top + $(this).height()))) {
			$(this).find('.mr_zhe_i').show();
			$(this).find('.mr_zhe_hover').hide().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
			return false;
		}

	});
	$('.mr_zhe').mouseover(function (event) {
		$(this).find('.mr_zhe_i').hide();
		$(this).find('.mr_zhe_hover').show().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
		return false;
	});
	
});
</script>

	</body>
</html>
