<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>
<div class="bannernr" style="background: url(images/aboutbanner.jpg) no-repeat center top;"></div>
<div class="clear"></div>
<!-- 主体部分 -->

<div class="xypg-wrap">
    <div class="container">

                
       

                <div class="xypg-right">
                	<div class="titleming">
                		助老活动
                		<span>GENERAL INTRODUCTION</span>
                	</div>
                    <div class="xypg-right-mbx">
                       <a href="#" class="active">老年节</a> / <a href="#">文艺活动</a> 
                        
                    </div>
                    </div>
                    <div class="se_news_con">
        <ul>
        
               <li >
	                <div class="se_news_l l">
	                    <a href="#"><img src="images/306_202_86b91afdd6ae57dfa97c5671e1714a2b.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动"></a>
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动</a>
	                           </h2>
	                    <p>各省、自治区、直辖市人民政府，国务院各部委、各直属机构：现将《“十三五”国家老龄事业发展和养老体系建设规划》印发给你们，请认真贯彻执行。</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
              <li >
	                <div class="se_news_l l">
	                    <img src="images/2.jpg" alt="2013庆祝第一个中国“老年节”河南敬老助老联欢活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2013庆祝第一个中国“老年节”河南敬老助老联欢活动</a>
	                           </h2>
	                    <p>各省、自治区、直辖市人民政府，国务院各部委、各直属机构：现将《“十三五”国家老龄事业发展和养老体系建设规划》印发给你们，请认真贯彻执行。</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
             <li >
	                <div class="se_news_l l">
	                    <img src="images/3.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2014 “同圆中国梦，共颂敬老情”——重阳节帮扶慰问活动</a>
	                           </h2>
	                    <p>各省、自治区、直辖市、新疆生产建设兵团卫生计生委（卫生局、人口计生委）、发展改革委、教育厅（教委）、工业和信息化主管部门、民政厅（局）、财政（务）厅（局）、人力资源社会保障厅（局）、国土资源主管部门、住房城乡建设厅</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
              <li >
	                <div class="se_news_l l">
	                    <img src="images/4.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2015 “关爱老人·真情助老”——基层帮扶慰问活动</a>
	                           </h2>
	                    <p>为了推动我省养老服务的规范化和标准化，切实提升养老服务质量，促进社会养老服务体系建设,省民政厅结合实际，制定了《社区居家养老服务规范》和《老年人健康能力评估》两个地方标准，通过省质量技术监督局评审发布,现印发给你们，请认真执行。</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
             <li >
	                <div class="se_news_l l">
	                    <img src="images/5.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2016“敬老助老·重在行动”——重阳节帮扶慰问暨“金色家园”授牌仪式系列帮扶慰问大型活动</a>
	                           </h2>
	                    <p>为贯彻落实《国务院办公厅关于全面放开养老服务市场提升养老服务质量的若干意见》(国办发〔2016〕91号)精神,促进我省养老服务业更好更快发展,经省政府同意,现结合我省实际,提出以下实施意见</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
             <li >
	                <div class="se_news_l l">
	                    <img src="images/6.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2017“喜迎党的十九大 展示老年新风采”全省文艺汇演——重阳节敬老助老活动（重阳节）</a>
	                           </h2>
	                    <p>为深入学习宣传贯彻习近平新时代中国特色社会主义思想和党的十九大精神，增强全社会人口老龄化国情意识，根据全国老龄工作委员会第十九次全体会议部署，现就开展人口老龄化国情教育提出以下意见。</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
              <li >
	                <div class="se_news_l l">
	                    <img src="images/7.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2017“敬老助老·重在行动”迎新春送温暖活动</a>
	                           </h2>
	                    <p>各省、自治区、直辖市、新疆生产建设兵团卫生计生委（卫生局、人口计生委）、发展改革委、教育厅（教委）、工业和信息化主管部门、民政厅（局）、财政（务）厅（局）、人力资源社会保障厅（局）、国土资源主管部门、住房城乡建设厅</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
             <li >
	                <div class="se_news_l l">
	                    <img src="images/8.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2018“敬老助老·重在行动”迎新春送温暖活动</a>
	                           </h2>
	                    <p>为了推动我省养老服务的规范化和标准化，切实提升养老服务质量，促进社会养老服务体系建设,省民政厅结合实际，制定了《社区居家养老服务规范》和《老年人健康能力评估》两个地方标准，通过省质量技术监督局评审发布,现印发给你们，请认真执行。</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
              <li >
	                <div class="se_news_l l">
	                    <img src="images/9.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2018“放歌新时代·聚力新征程”庆祝改革开放40周年文艺汇演活动</a>
	                           </h2>
	                    <p>为贯彻落实《国务院办公厅关于全面放开养老服务市场提升养老服务质量的若干意见》(国办发〔2016〕91号)精神,促进我省养老服务业更好更快发展,经省政府同意,现结合我省实际,提出以下实施意见</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
             <li >
	                <div class="se_news_l l">
	                    <img src="images/306_202_86b91afdd6ae57dfa97c5671e1714a2b.jpg" alt="2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动">
	                </div>
	                <div class="se_news_r r">
	                    <h2>
	                    	<a href="#">2012 “喜迎党的十八大，弘扬中华好传统”——重阳节敬老助老活动</a>
	                           </h2>
	                    <p>各省、自治区、直辖市人民政府，国务院各部委、各直属机构：现将《“十三五”国家老龄事业发展和养老体系建设规划》印发给你们，请认真贯彻执行。...</p>
	                    <div class="se_news_more"><i><img src="images/sj.jpg"/></i>2013.02.17 <span>来源：河南省敬老助老总会</span></div>
	                </div>
	                <div class="clear"></div>
            </li>
            
                       
                        
        </ul>
        <div class="clear"></div>
			<div class="fenye">
				<a  href="#"><</a>
			    <a class="active" href="#">1</a>
			    <a href="#">2</a>
			    <a href="#">3</a>
			    <a href="#">4</a>
			    <a href="#">5</a>
			    <a href="#">></a>
			</div>
    </div>
   

                    
                                    

            

            
            <div class="clear"></div>
                
            
       
    </div>
</div>


<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	
	/* 图片滚动效果 */
	$(".mr_frbox").slide({
		titCell: "",
		mainCell: ".mr_frUl ul",
		autoPage: true,
		effect: "leftLoop",
		autoPlay: true,
		vis: 4
	});
	
	/* 鼠标悬停图片效果 */
	$(".mr_zhe_hover").css("top", $('.mr_zhe').eq(0).height());
	$("li").mouseout(function (e) {
		if ((e.pageX < $(this).offset().left || e.pageX > ($(this).offset().left + $(this).width())) || (e.pageY < $(this).offset().top || e.pageY > ($(this).offset().top + $(this).height()))) {
			$(this).find('.mr_zhe_i').show();
			$(this).find('.mr_zhe_hover').hide().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
			return false;
		}

	});
	$('.mr_zhe').mouseover(function (event) {
		$(this).find('.mr_zhe_i').hide();
		$(this).find('.mr_zhe_hover').show().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
		return false;
	});
	
});
</script>

	</body>
</html>
