<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>


<div class="kecheng" style="padding: 20px 0;">
<div class="weizhi1">您所在的位置: <a href="#">首页</a> ><a href="#">金色品牌</a> > <a href="#">金色家园</a>><span>试点详情</span></div>

    </div>
	
	<div class="shidiannr">
		<h3>金色家园试点单之•郑州市老年公寓</h3>
		    <div class="sd_text">
		    	郑州市老年公寓是郑州市民政局投资兴办的一所社会养老机构，属公办公营养老院，位于郑州市航海西路7号，总建筑面积11166.76平方米，配有中央空调、电梯、电视、电话、紧急呼叫系统、无障碍设施，24小时供应热水。公寓有床位300张，楼宇清新宁静，房间典雅舒适，设有单间、标准间、多人间、套房等多种户型，配有健身房、棋牌娱乐室、电脑室、教室、图书阅览室、休闲花园、户外健身园地等设施。公寓与郑州市瑞阳老年病医院开展深度医养结合，入住老人不出门就可以解决就医问题，并且可以按照省市医保规定使用医保卡报销，公寓与郑州市第一人民医院、郑州市第二人民医院都有共建联系，实行就医绿色通道和大病困难补助等诸多优惠政策；公寓社工科定期开展健康大课堂、文艺演出、兴趣小组、志愿者服务等丰富多彩的娱乐活动，让老人们精神上更加的快乐。我们秉承“老人至上、服务一流”的服务宗旨，根据不同的护理级别提供全方位、多元化的优质服务，为老年人提供颐养天年的好去处。地址：郑州市航海西路7号，热线电话：0371-65319289。
		    	
		    	<img src="images/shidian.jpg" />
		    </div> 
		    <input class="jrsd" type="button" value="加入试点" />
	</div>

<div class="pinglun">
	<h3>老同志评论<span>文明上网理性发言，请遵守新闻评论服务协议</span><em>2条评论</em></h3>
	<div class="plbox">
		<div class="common-avatar">  <img src="images/g.jpg" width="100%" height="100%"> </div>
		<div class="box-textarea-block"> 
			<textarea class="box-textarea J_Textarea" id="J_Textarea" placeholder="说两句吧~"></textarea> 
		
		<div class="box-info"> 
			<div class="box-operate"> 
				<div class="box-upload">
					<span class="box-upload-img icon-upload"></span>
					<span class="box-upload-text">图片</span>
					<form class="box-upload-form" action="#" method="post" enctype="" target=""> 
						<input class="box-upload-file J_Upload" type="file" name="picture" accept="image/*">  
			<div class="J_UploadParams"></div>
		</form> 
		</div> 
		</div> 
		<div class="box-commentBtn box-commentBtn--able J_PostBtn" id="J_PostBtn">发布评论</div> 
		</div>
		</div>
		
	</div>
	
	<div class="clear"></div>
	<div class="pllist">
		<h2>全部评论</h2>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！真好
非常实用！！真好</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！真好
非常实用！！真好</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
	<div class="clear"></div>
	<div class="cka"><a href="#">查看更多评论</a></div>
		
	</div>
</div>	
<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>


	</body>
</html>
