<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>
	<div class="banner">
  <div class="b-img"><a href="#" style="background:url(images/shequbanner.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/shequbanner.jpg) center no-repeat;"></a>
  	<a href="#" style="background:url(images/shequbanner.jpg) center no-repeat;"></a></div>
  <div class="b-list"></div>
  <a class="bar-left" href="#"><em></em></a><a class="bar-right" href="#"><em></em></a> </div>
<div class="jieshao">
	<div class="w12">
		<div class="title">
			<h3>金色社区介绍</h3>
			
		</div>
		<div class="js_left">
			<img src="images/shequ.jpg"/>
		</div>
		<div class="js_right">
			金色社区服务主要是整合利用现有资源，集聚社会多方力量，在老同志居住相对集中的社区，指导帮助完善为老服务功能，提升为老服务能力。持续深化100个省级示范和试点社区的指导帮扶工作，规范金色社区服务管理，以点带面，将金色家园延伸至社区，推广居家养老、社区养老试点经验，组织金色梦舞台、金色大讲堂、金色经典歌会和开展金色社区健身操培训进社区活动，为老同志就近学习、就近活动就近得到关心照顾、就近发挥作用提供方便。
<a href="#">了解详情></a>
		</div>
	</div>
</div>
<div class="shequ shequ1">
	<div class="friend1">
		<div class="newstitle">
			
			<h3>社区活动</h3>
			
			<a href="#">更多活动></a>
		</div>
    <div class="mr_frbox1">
      
        <div class="mr_frUl1">
            <ul >
                <li><a href="#" class="servertup">
                    <img src="images/shequ.jpg" />
                      </a>
                      <a href="#">
                    <h3>梦舞台进社区给老人洗脚</h3>
                    <span>郑州市老年公寓是郑州市民政局投资兴办的一所社会养老机构，属公办公营养老院，位于郑州市航海西路7号......</span>
                </a>
              
                    
                </li>
                <li><a href="#" class="servertup">
                    <img src="images/shequ2.jpg" />
                      </a>
                      <a href="#">
                    <h3>老人的社区生活 </h3>
                    <span>福星老年公寓位于二七区京广路与赣江路交叉口向西200米路南，是在原王胡砦老年公寓基础上进行升级改造......</span>
                    </a>
                   
                </li>
                <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ.jpg" />
                      </a>
                      <a href="#">
                    <h3>梦舞台进社区给老人洗脚</h3>
                    <span>获嘉县同盟老年公寓是新乡市获嘉县民政局所属的社会福利民办养老机构，隶属于河南会盟养老发展有限公司。......</span>
                   
                   </a>
                </li>
                <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ2.jpg" />
                      </a>
                      <a href="#">
                    <h3>社区老人在活动</h3>
                    <span>济源市康乐老年公寓是一所集养老、休闲、健身、娱乐于一体的综合性养老机构。......</span>
                   </a>
                    
                </li>
                <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ.jpg" />
                      </a>
                      <a href="#">
                    <h3>汪局到社区进行考察</h3>
                    <span>金色家园是总会培育的新型养老品牌，倡导利用社会公共资源，建设集居住生活、学习娱乐、活动健身......</span>
                    </a>
                    
                </li>
                 <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ2.jpg" />
                      </a>
                      <a href="#">
                    <h3>总会捐赠的轮椅</h3>
                    <span>获嘉县同盟老年公寓是新乡市获嘉县民政局所属的社会福利民办养老机构，隶属于河南会盟养老发展有限公司。......</span>
                  
                   </a>
                </li>
                <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ.jpg" />
                      </a>
                      <a href="#">
                    <h3>总会领导进社区</h3>
                    <span>济源市康乐老年公寓是一所集养老、休闲、健身、娱乐于一体的综合性养老机构。......</span>
                 </a>
                    
                </li>
                <li>
                	<a href="#" class="servertup">
                    <img src="images/shequ2.jpg" />
                      </a>
                      <a href="#">
                    <h3>总会捐赠的图书室</h3>
                    <span>金色家园是总会培育的新型养老品牌，倡导利用社会公共资源，建设集居住生活、学习娱乐、活动健身......</span>
                   </a>
                    
                </li>
            </ul>
        </div>
       
    </div>
</div>


</div>


<div class="clear"></div>

<div class="shequjiaru">

		
		<p><input type="submit" value="加入金色家园" class="sub"/></p>

	
</div>

<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>


	</body>
</html>
