<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>


<div class="kecheng" style="padding: 20px 0;">
<div class="weizhi1">您所在的位置: <a href="#">首页</a> ><a href="#">金色品牌</a> > <a href="#">金色梦舞台</a>><span>舞台详情</span></div>

    </div>
	
	<div class="shipinnr">
		<div class="shipin1">
			<img src="images/shipin.jpg" />
		</div>
		<div class="sp_title">
			<h3>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h3>
			<div class="fenxiang">
				<a href="#"><i class="sc"></i><span>946</span></a>
				<a href="#"><i class="fx"></i><span>分享</span></a>
				<a href="#"><i class="jb"></i><span>举报</span></a>
				<button type="button">打赏</button>
<div class="popOutBg"></div>
	<div class="popOut">
		<span title="关闭"> x </span>
		<div class="dashang">
			<div class="touxiang"><img src="images/tx.jpg"/></div>
			
<div class="RadioStyle">
    <div class="Block PaddingL">
        <input type="radio" name="Storage" id="model1" checked />
        <label for="model1">2<span>元</span></label>
        <input type="radio" name="Storage" id="model2" />
        <label for="model2">12<span>元</span></label>
        <input type="radio" name="Storage" id="model3" />
        <label for="model3">66<span>元</span></label>
       <input type="radio" name="Storage" id="model4"  />
        <label for="model4">300<span>元</span></label>
        <input type="radio" name="Storage" id="model5"  />
        <label for="model5">200<span>元</span></label>
        <input type="radio" name="Storage" id="model6"  />
        <label for="model6">100<span>元</span></label>
    </div>
		</div>
		
		<div class="wxfk"><a href="#"><img src="images/weixin.jpg"/></a></div>
	</div>
	<script type="text/javascript">
		function $(param){
			if(arguments[1] == true){
				return document.querySelectorAll(param);
			}else{
				return document.querySelector(param);
			}
		}
		function ani(){
			$(".popOut").className = "popOut ani";
		}
		$("button").onclick = function(){
			$(".popOut").style.display = "block";
			ani();
			$(".popOutBg").style.display = "block";
		};
		$(".popOut > span").onclick = function(){
			$(".popOut").style.display = "none";
			$(".popOutBg").style.display = "none";
		};
		$(".popOutBg").onclick = function(){
			$(".popOut").style.display = "none";
			$(".popOutBg").style.display = "none";
		};
	</script>

			</div>
			
		</div>
	</div>

	</div>



<div class="clear"></div>

<div class="pinglun">
	<h3>老同志评论<span>文明上网理性发言，请遵守新闻评论服务协议</span><em>2条评论</em></h3>
	<div class="plbox">
		<div class="common-avatar">  <img src="images/g.jpg" width="100%" height="100%"> </div>
		<div class="box-textarea-block"> 
			<textarea class="box-textarea J_Textarea" id="J_Textarea" placeholder="说两句吧~"></textarea> 
		
		<div class="box-info"> 
			<div class="box-operate"> 
				<div class="box-upload">
					<span class="box-upload-img icon-upload"></span>
					<span class="box-upload-text">图片</span>
					<form class="box-upload-form" action="#" method="post" enctype="" target=""> 
						<input class="box-upload-file J_Upload" type="file" name="picture" accept="image/*">  
			<div class="J_UploadParams"></div>
		</form> 
		</div> 
		</div> 
		<div class="box-commentBtn box-commentBtn--able J_PostBtn" id="J_PostBtn">发布评论</div> 
		</div>
		</div>
		
	</div>
	
	<div class="clear"></div>
	<div class="pllist">
		<h2>全部评论</h2>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！真好
非常实用！！真好</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
		<div class="pllist11">
			<div class="pllist_left"> <img src="images/g.jpg" width="100%" height="100%"></div>
		<div class="plright">
			<p class="pl_title"><span>靖西</span>6分钟前</p>
			<p>老家家园小区办的非常好，在这里我找到好多志同道合的朋友，老了也不孤单，里面的健身设施都是为我们这些老年人打造的，非常实用！！真好
非常实用！！真好</p>
<a href="#" ><i class="dianzan"></i>点赞50</a>
		</div>
		</div>
	<div class="clear"></div>
	<div class="cka"><a href="#">查看更多评论</a></div>
		
	</div>
</div>	
<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>


	</body>
</html>
