<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金色老年网--孝敬网</title>
<meta name="keywords" content="" />
<meta name="description" content="金色老年网--孝敬网" />
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>

	</head>
	<body>
	
	<div class="head1">
		<div class="w12">
			<div class="head_left">
			<img src="images/logo.jpg" />
		</div>
	
		<div class="phone">
			<a href="#" class="login">登录</a>
			<a href="#">注册</a>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="nav">
		<ul class="w12">
			<li><a href="index.html">网站首页</a></li>
			<li><a href="about.html">总会简介</a></li>
			<li><a href="news.html">工作动态</a></li>
			<li><a href="pinpai.html">金色品牌</a></li>
			<li><a href="news.html">领导关怀 </a></li>
			<li><a href="guoqing.html">老龄国情宣传</a></li>
			<li><a href="news.html">涉老政策</a></li>
			<li><a href="news.html">助老活动</a></li>
			<li><a href="news.html">老年大学</a></li>
			<li><a href="news.html">老年商廊</a></li>
			<li><a href="news.html">爱心捐赠</a></li>
			
		</ul>
	</div>
	<div class="clear"></div>


<div class="kecheng">
	<div class="fenlei">
		<div ><span>类型：</span><a href="#" class="active">全部</a><a href="#">好家庭、好家道、好家风</a><a href="#">传统文化名家、著名演艺专家</a><a href="#">健康养生</a><a href="#">特别节目  </a></div>
		<div ><span>时间：</span><a href="#" class="active">全部</a><a href="#">2019</a><a href="#">2018</a><a href="#">2017</a><a href="#">2016  </a><a href="#">2015  </a><a href="#">2014  </a><a href="#">2013  </a><a href="#">2012  </a><a href="#">2011  </a></div>
	</div>
	<div class="kcnr">
		<div class="newstitle fenlei_title">	
			<h3><a href="#" class="active">最新热映</a><a href="#">最受关注</a></h3>	
			<span>共有<b>32403</b>个符合条件的内容</span>
		</div>
		<div class="clear"></div>
		<ul class="shipinlist">
			<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
			<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
				<li>
				<div class="shipin"><a href="#"><img src="images/wttup1.jpg"/></a><i></i></div>
				<h2>“汴京灯笼张”传承人张俊涛：彩灯古韵俏</h2>
				
				<em>3518人看过</em>
			</li>
		</ul>
		<div class="fenye">
				<a  href="#"><</a>
			    <a class="active" href="#">1</a>
			    <a href="#">2</a>
			    <a href="#">3</a>
			    <a href="#">4</a>
			    <a href="#">5</a>
			    <a href="#">></a>
			</div>
	</div>
	
	


</div>


<div class="clear"></div>



<div class="clear"></div>
<div class="foot">
	<div class="foot_nr">
		
		<div class="foot_left">
			<h3>15838338565</h3>
			<div class="dizhi"><i><img src="images/dizhi.jpg"/></i>河南省敬老助老总会办公处5655号</div>
			<div class="banquan">
				<p>主办： 河南省敬老助老总会 您是第965315位访问者！ </p>
				<p>Copyright @ 2011 - 2014 hnjlzlzh.org.cn. All Rights Reserved </p>
				<p>版权所有： 河南省敬老助老总会 未经许可不得复制、转载。技术支持 SiteServer CMS</p>
			</div>


		</div>
		<div class="erweima2">
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
			<div class="weixin">
				微信公众号
				<img src="images/saoma.jpg" />
			
			</div>
		</div>
		<div class="foot_right">
			分享到：
			<ul>
				<li><a href="#"><img src="images/fxicon1.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon2.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon3.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon4.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon5.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon6.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon7.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon8.jpg"/></a></li>
				<li><a href="#"><img src="images/fxicon9.jpg"/></a></li>
			</ul>
		</div>
	</div>
</div>


	</body>
</html>
