<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fzy.sys.dao.NavDao">

	<select id="get" resultType="com.fzy.sys.domain.NavDO">
		select `id`,`name`,`url`,`create_time`,`is_delete`,`sort` from sys_nav where id = #{value}
	</select>

	<select id="list" resultType="com.fzy.sys.domain.NavDO">
		select `id`,`name`,`url`,`create_time`,`is_delete`,`sort` from sys_nav
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_nav
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fzy.sys.domain.NavDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_nav
		(
			`name`, 
			`url`, 
			`create_time`, 
			`is_delete`, 
			`sort`
		)
		values
		(
			#{name}, 
			#{url}, 
			#{createTime}, 
			#{isDelete}, 
			#{sort}
		)
	</insert>
	 
	<update id="update" parameterType="com.fzy.sys.domain.NavDO">
		update sys_nav 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_nav where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_nav where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>