<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">

    <div style="padding: 10px 0 20px 10px;text-align: center">
        <h3>欢迎进入河南敬老协会后台管理系统</h3>
        <!--<ul>
            <li>郑州掌尚信息技术有限公司一直秉承“非凡、极致、创新、突破”的思想理念。</li>
            <li>用非凡的品质打动客户，用极致的服务满足客户，用创新的理念引领客户，用突破的思想开拓未来。</li>
            <li>在技术飞速发展的今天，实力永远是奠定地位的唯一依据。掌尚人在不断进步，不断成长，源源不断汲取行业知识，洞察行业发展，带给客户最新的技术体验。</li>
            <li>未来，我们将不断优化公司的各个系统，实现公司全面发展，不断寻求新的突破，完善客户需求，提供更加完善的技术服务支持，实现公司价值观，为社会谋取更多的利益。</li>

        </ul>
        <h3>郑州掌尚信息技术有限公司简介-关于</h3>-->

        <!--<ul>
            <li><strong>掌尚科技，技术先行</strong></li>
            <li>郑州掌尚信息技术有限公司成立于2014年，是一家专业从事软件研发、技术咨询与服务的综合性互联网解决方案提供商。</li>
            <li>公司拥有专业成熟的技术、设计和管理团队，具备强大的自主研发能力。</li>
            <li>截至目前，我们已经为数百家企业和个人提供了高品质专业化服务，并获得客户的一致好评。公司自成立伊始，高度</li>
            <li>专注于App原生态开发(ios开发,Android开发),微信公众平台二次开发，H5场景应用开发，高级网站定制开发等核心技术服务。</li>
            <li> &nbsp;&nbsp;郑州掌尚科技公司自成立以来，以“用心让客户放心”的态度，凭借资深团队的开发经验、完善的开发流程管理、细致的售后服务体系等优势，成为广受好评的互联网解决方案提供商。</li>


        </ul>

        <ul>
            <li>点击链接加入群【交流群】：<a href="">123456</a></li>&lt;!&ndash; https://jq.qq.com/?_wv=1027&k=5EYXfiZ 669039323(满)&ndash;&gt;
           &lt;!&ndash;  <li>点击链接加入群聊【交流二群】：<a href="https://jq.qq.com/?_wv=1027&k=5M659N4">614726589</a></li> &ndash;&gt;
        </ul>-->
    </div>
</div>
</body>
</html>